<h2>home</h2>
<h3>prompts:</h3>

<!-- list all prompts on homepage -->
<ul class="no-bullets">
<% @prompts.each do |prompt| %>

<table>
  <tr><td><img class="avatar" src="https://api.adorable.io/avatars/285/<%= prompt.user.username %>%40adorable.io" alt="avatar"></td>
  <td class="posted-by">posted by: <a href="/users/<%= prompt.user_id %>"><%= prompt.user.username %></a></td>
  <td class="prompt-idea"><a href="/prompts/<%= prompt.id %>"><%= prompt.idea %></a></td></tr>
</table>


<% end %>
</ul>

<!-- if user is logged in, display link to add new prompt -->
<br><br><br>
<% if logged_in? %>
  <div><a class="button-link" href="/prompts/new">create new prompt</a></div>
<% else %>

<!-- if user is not logged in, show link to log in -->
<div><a class="button-link" href="/login">log in to create prompt and write your story</a></div>
<% end %>



