<h2><%= @prompt.idea %></h2>

<!-- show stories to anyone -->

<h3>stories</h3>
<ul class="no-bullets">
<% @prompt.stories.each do |story| %>
  <li class="space-above"><%= story.body %></li>
  <li>posted by: <a href="/users/<%= story.user_id %>"><%= story.user.username %></a></li>
<% end %>
</ul><br>

<!-- if user is not logged in, show link to log in -->
<% if !logged_in? %>
  <div class="space-above"><a href="/login">log in to write your story</a></div>
<% else %>

  <!-- user is logged in -->

  <!-- if user has not written a story for this prompt yet, show story form -->
  <% if !@prompt.stories.find_by(user_id: current_user.id) %>

    <h3>write your story</h3>
    <form class="bottom-border left";" action="/stories" method="post">
      <input type="hidden" name="story[prompt_id]" value="<%= @prompt.id %>">
      <br><textarea autofocus rows="10" cols="70" name="story[body]"></textarea><br><br>
      <input type="submit" value="submit story">
    </form><br>
  <% end %>

<% end %>
